* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #cccccc;
}

html {
    height: 100%;
    color: black !important;

}

ul {
    list-style: none;
}

td.ant-table-cell {
    padding: 5px 16px !important;
}